apiVersion: v1
kind: Service
metadata:
  name: industriverse-application-layer
  labels:
    app: industriverse-application-layer
    layer: application
spec:
  type: ClusterIP
  ports:
  - port: 8000
    targetPort: 8000
    protocol: TCP
    name: http
  selector:
    app: industriverse-application-layer
