apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ui-ux-layer-theme-pvc
  labels:
    app: ui-ux-layer
    layer: ui-ux
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
  storageClassName: standard
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ui-ux-layer-capsule-pvc
  labels:
    app: ui-ux-layer
    layer: ui-ux
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 5Gi
  storageClassName: standard
